@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { background: #0b1220; color: #e8edf7; }

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background: #24345a; border-radius: 6px; }
::-webkit-scrollbar-track { background: transparent; }
